body {
  display: flex;
  font-family: "Andale Mono";
  height: 764px;
  margin: 0px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

h1 {
  font-size: 400%;
  margin: 0px;
}

.color-box-container {
  display: flex;
  height: inherit;
  justify-content: center;
  width: inherit;
}

.color-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 250px;
}

.color {
  background-color: red;
  border: solid black 2px;
  height: 140px;
  width: 140px;
}

.hex-and-lock {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.hex-and-lock > img {
  height: 30px;
  width: auto;
}

.palette-buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 82%;
}

.palette-buttons {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 2px;
  font-family: "Andale Mono";
  font-size: 150%;
  height: 70px;
  width: 200px;
}

aside {
  align-items: center;
  border-left: solid black 4px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  width: 20%;
}

.palette-box {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.miniPalette {
  background-color: red;
  border: solid black 2px;
  height: 30px;
  width: 30px;
}

.delete-button {
  height: 23px;
  margin-left: 20px;
  width: 23px;
}
